<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='dashstyle.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to your dashboard, {{ current_user.username }}!</h1>
    <h1>Upload CSV File with Package Information</h1>
    
    <!-- Flash message for success or error -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    
    <!-- CSV upload form -->
    <form method="POST" enctype="multipart/form-data">
        <label for="csv_file">Choose CSV File </label>
        <input type="file" name="csv_file" accept=".csv" required><br>
        <label for="csv_file">Choose Route Name </label>
        <input type="text" name="name"><br>
        <button type="submit">Upload</button><br>
    </form>

    <form action="{{ url_for('edit_packages') }}" method="GET">
        <button type="submit">Edit Packages</button><br>
    </form>

    <!-- Button to trigger processing of routes -->

    <form method="POST" action="{{ url_for('process_routes') }}">
        <label for="route">Select Route </label>
            <select name="route" required>
                <option value="" disabled selected>Select a route</option>
                {% for route in routes %}
                    <option value="{{ route }}">{{ route }}</option>
                {% endfor %}
            </select><br>
        <label for="csv_file">Define Courier Count </label>
        <input type="text" name="couriers"><br>
        <label for="csv_file">Define Depot Address </label>
        <input type="text" name="depot"><br>
        <button type="submit">Process Routes</button> <br>
    </form>

    <form method="GET" action="{{ url_for('display_route') }}">
        <button type="submit">Display Routes</button><br>
    </form>

    



    <!-- Logout button -->
    <form action="{{ url_for('logout') }}" method="POST">
        <button type="submit">Logout</button>
    </form>

    
</body>
</html>